<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="domoio_url" content="<%= domoio_url %>">
    <title>Hello Domoio Orbiter!</title>
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>

  <body>
    <div id="app" role="main"></div>

    <script src="/assets/js/app.js"></script>
  </body>
</html>
